@model PojisteniWebApp.Models.InsuranceViewModel

@{
    ViewData["Title"] = "Detail pojištění";
}

<h4>Detail pojištění</h4>
<hr />
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Type)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Amount)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Amount)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>
    <dd class="col-sm-9">
        @Model.StartDate.ToShortDateString()
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>
    <dd class="col-sm-9">
        @Model.EndDate.ToShortDateString()
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ClientId)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Client.FullName)
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editovat</a> |
    <a asp-action="Index">Zpět na přehled</a>
</div>

