@model IEnumerable<PojisteniWebApp.Models.InsuranceViewModel>

@{
    ViewData["Title"] = "Pojištění";
}

<p>
    <a class="primary-button" asp-action="Create">Vytvořit nové pojištění</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Pojištěnec
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @item.Client?.FullName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editovat</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detail</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>